@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #151515;
}

/* Hero-Section */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.banner h1 {
    font-size: 66px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.banner h1 span {
    color: #347928;
}

.banner p {
    color: white;
    margin-top: -40px;
    font-size: 18px;
}

.banner button {
    font-size: 18px;
    padding: 8px 40px;
    border: none;
    border-radius: 24px;
    background: linear-gradient(#347928, #1a3d14);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.banner button:hover {
    background: linear-gradient(#2a6120, #163211);
    box-shadow: #347928c9 0px 0px 2px 2px
}